ConfigUtility/ConfigSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- XML Schema Generated from XML Document on Tue Aug 03 2021 18:05:01 GMT-0700 (Pacific Daylight Time) -->
  <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
  <xs:element name="Settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Tab" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Description" type="xs:string"></xs:element>
              <xs:element name="Flag" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string"></xs:element>
                    <xs:element name="ValueName" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="index" type="xs:int"></xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DefaultValue" type="xs:int"></xs:element>
                  </xs:sequence>
                  <xs:attribute name="path" type="xs:string"></xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="FootNote" type="xs:string"></xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string"></xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="LastTab">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Description" type="xs:string"></xs:element>
              <xs:element name="Command">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CommandName" type="xs:string"></xs:element>
                    <xs:element name="FileName" type="xs:string"></xs:element>
                    <xs:element name="DefaultValue" type="xs:int"></xs:element>
                    <xs:element name="StateTag" type="xs:string"></xs:element>
                    <xs:element name="StateLabel" type="xs:string"></xs:element>
                    <xs:element name="StateList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="State" maxOccurs="unbounded" type="xs:string"></xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string"></xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>